* {
  box-sizing: border-box;
}

body {
  color: white;
  background-color: rgb(41, 40, 48);
}

.App {
  height: 100%;
  text-align: center;
  padding: 20px 40px;
}

.App-header {
  position: absolute;
  top: 0;
  height: 200px;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-main {
  position: relative;
  margin-top: 200px;
  height: calc(100% - 240px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  border: none;
  border-radius: 20px;
  transition: border ease 0.3s;
}

.App-main.dragover {
  border: 4px solid rgba(183, 160, 228, 0.4);
}

.dragover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.4);
}

button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: white;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.4);
  border-radius: 2px;
  transition: all 0.15s;
}

button:hover,
button:focus {
  border: 2px solid rgba(183, 160, 228, 0.4);
}

button:active {
  background-color: rgba(183, 160, 228, 0.4);
}

button + button,
button:not(:last-child) {
  margin: 0 8px;
}
